{% extends 'base.html' %}

{% block body %}
<div class="base-color">
    <div class="container">
        <div class="p-5">
            <h3>新規物件投稿</h3>
            <form action="/create" method='POST'>
                <div>{{ form.title.label() }}</div>
                {{ form.hidden_tag() }}
                <div class="form-group pb-3">
                {% for error in form.title.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                    {{ form.title(class="form-control create-form") }}
                    <small id="title-help" class="form-text text-muted">30文字以内で入力してください。</small>
                </div>
                <div class="form-group pb-3">
                    {{ form.monthly_rent.label() }}
                    {{ form.monthly_rent(class="form-control create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.is_bill_included.label() }}
                    {{ form.is_bill_included() }}
                </div>
                <div class="form-group pb-3">
                    {{ form.deposit.label() }}
                    {{ form.deposit(class="form-control create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.start_date.label() }}
                    {{ form.start_date(class="form-control create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.room_type.label() }}
                    {{ form.room_type(class="form-control form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.duration.label() }}
                    {{ form.duration(class="form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.is_furnished.label() }}
                    {{ form.is_furnished(class="form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.gender.label() }}
                    {{ form.gender(class="form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.is_smorkable.label() }}
                    {{ form.is_smorkable(class="form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.with_landload.label() }}
                    {{ form.with_landload(class="form-select form-select-m create-form") }}
                </div>
                <div class="form-group pb-3">
                    {{ form.detail.label() }}
                    {{ form.detail(class="form-control create-form create-text-area") }}
                    <small id="title-help" class="form-text text-muted">詳細を記入してください</small>
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>   
            <!-- </form> -->
        </div>
    </div>
</div>

{% endblock %}