{% extends 'base.html' %}

{% block body %}
<div class="base-color">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="card mb-3 ">
          <div class="card-body p-5">
            <div class="d-flex">
              <div class="fs-2 fw-bold  p-2  card-title">{{ post.title }}</div>
              <div class="p-2  ms-auto aligin-middle">投稿日:{{ post.created_at }}</div>
            </div>
            <div class="mx-auto" style="width:70%; ">
              <img src="/{{post.picture_path}}" class="card-img-top" alt="...">
            </div>
            <div class="mt-3"> 
              <p>{{ post.detail }}</p>
           </div>
            <div class="row pt-5">
              <div class="col-lg-6 col-md-12 col-xs-12">
                <div style="">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>部屋タイプ</th>
                        <td>{{post.room_type}}</td>
                      </tr>
                      <tr>
                        <th>家賃・価格</th>
                        <td>£{{post.monthly_rent}}</td>
                      </tr>
                      <tr>
                        <th>光熱費</th>
                        <td>{{post.is_bill_included}}</td>
                      </tr>
                      <tr>
                        <th>デポジット</th>
                        <td>£{{post.deposit}}</td>
                      </tr>
                      <tr>
                        <th>家具</th>
                        <td>{{post.is_furnished}}</td>
                      </tr>
                      <tr>
                        <th>性別</th>
                        <td>{{post.gender}}</td>
                      </tr>
                      <tr>
                        <th>喫煙</th>
                        <td>{{post.is_smorkable}}</td>
                      </tr>
                      <tr>
                        <th>エリア</th>
                        <td>Ealing</td>
                      </tr>
                      <tr>
                        <th>最寄り駅</th>
                        <td>Ealing Station</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-xs-12">
                <div >
                  <div>
                    <div class="map" style="width:100%">
                      <!-- Google Mapの共有タグを埋め込む -->
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.828030384825!2d139.76493075169924!3d35.68123618009717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1618711259693!5m2!1sja!2sjp"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                  </div>
                </div>
                <div class="p-3" style="">
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn base-button btn-lg" type="button">問い合わせる</button>
                  </div>
                </div>
              </div>
              <div class="pt-2">
                <a class="btn btn-outline-success" href="/" role="button">Return</a>
                <a class="btn btn-success" href="/update/{{ post.id }}" role="button">Update</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12" style="background-color:#e4f0f1">
        <p>TBD</p>
      </div>
    </div>
  </div>
  {% endblock %}