{% extends 'base.html' %}

{% block body %}
<div class="base-color">
  <div class="container">
    <div class="room-list-section row">
      <div>
        <div class="row justify-content-end m-3">
          <select class="form-select " aria-label="Default select example" style="width:150px;">
            <option selected>Sort by</option>
            <option value="1">Low Price</option>
            <option value="2">New Date</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 p-3" style="background-color: #e4f0f1">
        <div>
          <b>検索条件絞り込み</b>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">家賃(£)</div>
          <div class="input-group input-group-sm mb-2">
            <input type="text" placeholder="min" class="form-control mr-2" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm">
            <span class="inline-block m-2">~</span>
            <input type="text" placeholder="max" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              光熱費込み
            </label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">入居可能日</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              即入居可能
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <input type="date" name="due" required>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">部屋タイプ</div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
              フラットルーム
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              スタジオタイプ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              賃貸物件
            </label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">滞在期間</div>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected value="1">指定なし</option>
            <option value="2">1ヶ月以内</option>
            <option value="3">3ヶ月以内</option>
            <option value="3">6ヶ月以内</option>
            <option value="3">1年以内</option>
            <option value="3">2年以内</option>
            <option value="3">それ以上</option>
          </select>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">家具</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">あり</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">なし</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">性別</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">女性希望</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">男性希望</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">喫煙</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option2">
            <label class="form-check-label" for="inlineRadio1">可能</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3">
            <label class="form-check-label" for="inlineRadio2">不可</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">大家</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">別居</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio2">同居</label>
          </div>
        </div>
        <div class="mx-auto">
          <a class="btn base-button d-block" href="/create" role="button">検索</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
          <div class="col">
            <div class="card h-100">
              <div class="card-nail">£{{post.monthly_rent}}/月</div>
              <img src="../static/img/pexels-pixabay-259962.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="/detail/{{ post.id }}">{{post.title}}</a>
                <p class="card-text">{{post.detail}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}