{% extends 'base.html' %}

{% block body %}
<div class="base-color">
  <div class="container">
    <div class="room-list-section row">
      <div>
        <div class="row justify-content-end m-3">
          <select name="sort_by" id="sort_by" class="form-select" style="width:150px;">
            <option value="" >Default</option>
            <option value="monthly_rent">Low Price</option>
            <option value="created_at">New Date</option>
          </select>
        </div>
        
        <script type="text/javascript">
          var sort_by = document.getElementById('sort_by');
          sort_by.onchange = function() {
          var sort_by_paramater = this.options[this.selectedIndex].value;
          // document.location.href = '/?sort_by='+sort_by_paramater;
          document.getElementById('dropdown_value').value = sort_by.value;
          document.getElementById('search_form').submit();
          };

          window.onload=function(){
            let params = (new URL(document.location)).searchParams;
            let name = params.get('sort_by');
            var sort_by_elems = document.getElementById('sort_by');
            checkSelect(sort_by_elems,name);
          }
          function checkSelect(obj,val){
              for(var i=0;i<obj.length;i++){
                if(obj[i].value==val){
                obj[i].selected=true;
                break;
                }
              }
            }
        </script>
      </div>
      <div class="col-lg-2 col-md-12 p-3" style="background-color: #e4f0f1">
        <div>
          <b>検索条件絞り込み</b>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">家賃(£)</div>
          <div class="input-group input-group-sm mb-2">
            <form action="/" method="POST" enctype="multipart/form-data" id="search_form">
            <input type="hidden" name="dropdown_value" id="dropdown_value" value="" >
            {% if dict.min_rent != "" %}
            <input type="text" placeholder="min" name="min_rent"  value="{{dict.min_rent}}" class="form-control mr-2" >
            {% else %}
            <input type="text" placeholder="min" name="min_rent" class="form-control mr-2" >
            {% endif %}
            <span class="inline-block m-2">~</span>
            <input type="text" placeholder="max" class="form-control" >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              光熱費込み
            </label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">入居可能日</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              即入居可能
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <input type="date" name="due" required>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold">部屋タイプ</div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
              フラットルーム
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              スタジオタイプ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              賃貸物件
            </label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">滞在期間</div>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected value="1">指定なし</option>
            <option value="2">1ヶ月以内</option>
            <option value="3">3ヶ月以内</option>
            <option value="3">6ヶ月以内</option>
            <option value="3">1年以内</option>
            <option value="3">2年以内</option>
            <option value="3">それ以上</option>
          </select>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">家具</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">あり</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">なし</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">性別</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">女性希望</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">男性希望</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">喫煙</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option2">
            <label class="form-check-label" for="inlineRadio1">可能</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3">
            <label class="form-check-label" for="inlineRadio2">不可</label>
          </div>
        </div>
        <div class="my-3 mx-2">
          <div class="mb-2 fw-bold ">大家</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">指定なし</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">別居</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio2">同居</label>
          </div>
        </div>
        <div class="mx-auto">
          <input type="submit" class="btn base-button d-block w-100"  value="検索">
        </div>
      </form>
      </div>
      <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
          <div class="col">
            <div class="card h-100">
              <div class="card-nail">£{{post.monthly_rent}}/月</div>
              <img src="../static/img/pexels-pixabay-259962.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="justify-content-end">
                  <span class="post-created d-flex justify-content-end">投稿日：{{ post.created_at.strftime('%b %d, %Y') }}</span>
                </div>
                <a href="/detail/{{ post.id }}">{{post.title}}</a>
                <p class="card-text">{{post.detail}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}