{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div id="map"></div>
</div>

<script>
    var map = L.map('map').setView([51.505, -0.09], 10);
    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.Control.geocoder().addTo(map);
    {% for key, room in rooms.items() %}
    var marker_{{key}} = L.marker([{{room[1]}}, {{ room[2]}}]).addTo(map);
    marker_{{key}}.bindPopup("<a href=/detail/{{key}}>{{room[0]}}</a>").openPopup();
    {% endfor %}
</script>
{% endblock %}